.profile {
   grid-area: m;
   background-color: #008a27;
   padding: 5px;
}

.profileCover {
   max-width: 100%;
   width: 100%;
}
.profileInfo {
}
.profileAvatar {
   width: 20%;
   border-radius: 50%;
}
