.profileCover {
   max-width: 100%;
   width: 100%;
}
.profileInfo {
   display: flex;
   justify-content: space-between;
}
.profileAvatar {
   width: 20%;
   border-radius: 50%;
   background-size: cover;
}
.socials {
   display: flex;
   flex-direction: column;
}
.workStatus {
   display: flex;
   flex-direction: column;
}
